body{
  background-image:url(Imagenes/Fondo.jpg);
  background-size: 100%;
}

li {
   float: left;
   list-style: none;
   float:left;
   top: 80em;
   opacity: 0.3;
   border-style: solid;
}

a {
  padding: 4.1em;
  display:inline;
  text-decoration: underline;
  color: #333;
  background: #F4F4F4;
}

/*formulario de registro*/

.enlace {
  display: block;
  border:0;
  padding:0;
  margin:30;
  text-decoration:underline;
  background:none;
  color: white;
  font-family: arial, sans-serif;
  font-size: 1em;
  line-height:1em;
}

.enlace:hover {
  text-decoration:none;
  color:#0000cc;
  cursor: pointer;
}


/*logo*/

.logo {
  display: inline;
  float: left;
  padding: .5em;
  background: #FFC300;
  position: relative;
  bottom: 10.9%;
  width: 149px;
  border: double;
}
