body {
  background-image: linear-gradient(to right, blue ,#020c28);
  border: 15px solid #1e0f54;
  margin: 0px;
}

h1 {
  text-align: center;
  font-family: 'Mali', cursive;
  font-size: 35px;
  font-weight: bold;
  color: orange;
}

p {
  color: orange;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-left: 10px;
}

#futuro {
  text-align: center;
  color: orange;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-left: 10px;
}

#areas {
  text-align: center;
}

#adm {
  font-size: 30px;
  margin-left: 40px;
  font-weight: bold;
  color: #4c0b0c;
}

#turismo {
  font-size: 30px;
  margin-left: 40px;
  font-weight: bold;
  color: #4c0b0c;
}

#foto {
  font-size: 30px;
  margin-left: 40px;
  font-weight: bold;
  color: #4c0b0c;
}

#desarrollo {
  font-size: 30px;
  margin-left: 40px;
  font-weight: bold;
  color: #4c0b0c;
}

#ingles {
  font-size: 20px;
  margin-left: 40px;
  font-weight: bold;
  color: #4c0b0c;
}

#diseno {
  font-size: 20px;
  margin-left: 40px;
  font-weight: bold;
  color: #4c0b0c;
}

#marketing {
  font-size: 20px;
  margin-left: 40px;
  font-weight: bold;
  color: #4c0b0c;
}

img {
  border: 5px solid orange;
}
