body {
  background-image: url(img/hoja.jpg);
  background-size: 100%;
}

h1 {
  text-align: center;
  margin-top: 10px;
  color: blue;
}



#largo {
  margin-left: 450px;
  margin-top: -110px;
}


.largo {
  margin-left: 950px;
  margin-top: -45px;
  color: blue;
}

h3, p {
  margin-left: 430px;
}

p{
  font-size: 20px;
}

#plan{
  margin-left: 650px;
}

#flecha {
  margin-left: 780px;
}

#flecha2 {
  margin-left: 400px;
  margin-top: 70px;
}

#flecha3 {
  margin-top: 0px;
}
