body {
  background-image: linear-gradient(to right, blue ,#020c28);
  border: 15px solid #1e0f54;
  margin: 0px;
}

h1 {
  text-align: center;
  font-family: 'Mali', cursive;
  font-size: 35px;
  font-weight: bold;
  color: orange;
}

#andarines {
  margin-left: 300px;
}

img {
  border: 5px solid orange;
}
p{
  font-size: 20px;
  font-weight: bold;
  color: orange;
}

#fortalezas {
  border: 5px solid orange;
  margin-top: 90px;
  margin-left: 90px;
}

#oportunidades {
  border: 5px solid orange;
  margin-left: 600px;
  margin-top: -329px;
  position: absolute;
  margin-left: 680px;
}

#debilidades {
  border: 5px solid orange;
  margin-left: 90px;
}


#amenazas {
  border: 5px solid orange;
  margin-left: 600px;
  margin-top: -329px;
  position: absolute;
  margin-left: 680px;
}
