body {
  background-image: url(img/david.jpg);
  background-size: 100%;
}

h1 {
  font-size: 40px;
  text-align: center;
}

#foto-container {
  width: 100%;

}
img {
  margin-left: 83%;
  margin-top: -35px;
}

#datos {
  font-family: 'Mali', cursive;
  font-size: 25px;
  font-weight: bold;
  margin-top: -140px;
}

#texto-datos {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#micv {
  margin-left: 83.5%;
  margin-top: -50px;
  font-size: 15px;
  color: blue;
  font-weight: bold;
}

#dim {
  font-family: 'Mali', cursive;
  font-size: 25px;
  font-weight: bold;
  margin-top: 80px;
  text-align: center;

}

#personal {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  color: #ff6600;
  text-align: center;
  margin-left: 500px;
  margin-top: 80px;
  width: 190px;
}

#educativa {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  color: #ff6600;
  text-align: center;
  margin-left: 490px;
  margin-top: 324px;
  width: 190px;
}

#laboral {
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  color: #ff6600;
  text-align: center;
  margin-left: 980px;
  margin-top: 70px;
  width: 190px;
}

#menu {
  background-image: linear-gradient(to right, blue ,#020c28);
  width: 1330px;
  height: 270px;
}

@import url(https://fonts.googleapis.com/css?family=Erica+One);

h1 {
  cursor: default;
  margin-top: -290px;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  margin: auto;
  display: block;

  -webkit-animation: bounce .3s ease infinite alternate;

  font-family: 'Erica One', cursive;
  font-size: 60px;
  color: #020c28;
  text-align: center;
  line-height: 100px;
  text-shadow: 0 1px 0 blue,
               0 2px 0 blue,
               0 3px 0 blue,
               0 4px 0 blue,
               0 5px 0 blue,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .6);
}
/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -20px;

    text-shadow: 0 1px 0 blue,
                 0 2px 0 blue,
                 0 3px 0 blue,
                 0 4px 0 blue,
                 0 5px 0 blue,
                 0 6px 0 blue,
                 0 7px 0 blue,
                 0 8px 0 blue,
                 0 9px 0 blue,
                 0 10px 10px rgba(0, 0, 0, .3);
  }
}
}
